


@tailwind utilities;
@import "tailwindcss";
@import "tw-animate-css";
html { scroll-behavior: smooth; }








/* Optional: Define CSS variables for base background and text colors */
@layer base {
  :root {
    --background: white;
    --foreground: black;
  }

  .dark {
    --background: black;
    --foreground: white;
  }

  body {
    /* Apply the CSS variables to the body */
    background: var(--background);
    color: var(--foreground);
    /* Add smooth transitions when changing themes */
    transition: background-color 0.3s, color 0.3s;
  }
}














@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in-top-left {
  0% {
    opacity: 0;
    transform: translate3d(-100%, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in-top-right {
  0% {
    opacity: 0;
    transform: translate3d(100%, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}



.animate-fadein {
  animation: fade-in 1s ease-in-out 0.25s 1;
}

.animate-fadeout {
  animation: fade-out 1s ease-out 0.25s 1;
}

.animate-fadeindown {
  animation: fade-in-down 1s ease-in 0.25s 1;
}

.animate-fadeintopleft {
  animation: fade-in-top-left 1s ease-out 0.25s 1;
}

.animate-fadeintopright {
  animation: fade-in-top-right 1s ease-out 0.25s 1;
}




@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}



 /* @keyframes floatUpDown {
  0% {
    top: 0;
    
  }
  50% {
    top: -300px; 
  }
   100% {
    top: 0;
  }
}  */
@keyframes stick {
  0% {
    transform: translate(10px, 20px);
  }
  20% {
    transform: translate(120px, -80px);
  }
  40% {
    transform: translate(-50px, 150px);
  }
  60% {
    transform: translate(180px, 60px);
  }
  80% {
    transform: translate(-100px, -120px);
  }
  100% {
    transform: translate(10px,-10px);
  }
}


@keyframes bowl{
  0% {
    transform: translate(10px, -10px);
  }
  20% {
    transform: translate(120px, -80px);
  }
  40% {
    transform: translate(-50px, 150px);
  }
  60% {
    transform: translate(180px, 60px);
  }
  80% {
    transform: translate(-100px, -120px);
  }
  100% {
    transform: translate(10px,-10px);
  }

}
@keyframes pulseZoom {
  0%, 100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2); /* జూమ్ లెవెల్ మార్చు */
  }
}

.animate-infinite-zoom {
  animation: pulseZoom 5s ease-in-out infinite;
}

.animate-bowl{
  position: relative;
  transform: translate(70px,130px);
  animation: bowl 20s 4s linear infinite;
}
.animate-stick {
  position: relative; /* ← ఇది ముఖ్యం */
  animation: stick 15s 4s linear infinite;
}

.animate-scroll {
  display:flex;
  animation: scroll 10s linear infinite;
  transition: animation-play-state 0.3s;
}
.animate-scroll:hover {
  animation-play-state: paused;
}


@keyframes cards{
  0%{
    transform: scaleY(0);

  }100%{
  transform: scaleY(1);
  }
}

.animate-cards{
  animation: cards 5s linear infinite;
}
























/* animation: {
  marquee: "marquee var(--duration) linear infinite", 
  "marquee-vertical": "marquee-vertical var(--duration) linear infinite", 
}, 
keyframes: { 
  marquee: { 
    from: { transform: "translateX(0)" }, 
    to: { transform: "translateX(calc(-100% - var(--gap)))" }, 
  }, 
  "marquee-vertical": { 
    from: { transform: "translateY(0)" }, 
    to: { transform: "translateY(calc(-100% - var(--gap)))" }, 
  }, */



  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
  
  .animate-marquee {
    animation: marquee var(--duration) linear infinite;
  }
  
  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration) linear infinite;
  }